<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('page1') }}">Page 1</a></li>
        <li><a href="{{ path('page1') }}">Page 2</a></li>
        <li><a href="{{ path('page1') }}">Page 3</a></li>
        <li><a href="{{ path('haha') }}">Page HAHA</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>

<h1>{{ message }}</h1>
</body>
</html>
